image = "/capstor/store/cscs/swissai/infra01/swiss-alignment/container-images/swiss-alignment+apertus-vllm-38c6036.sqsh"

mounts = ["/iopsstor", "/users", "/capstor"]

writable = true

workdir = "/iopsstor/scratch/cscs/dmelikidze/LSAIE/project/apertus-finetuning-recipes"

[annotations]
com.hooks.aws_ofi_nccl.enabled = "true"
com.hooks.aws_ofi_nccl.variant = "cuda12"

[env]
FI_CXI_DISABLE_HOST_REGISTER = "1"
FI_MR_CACHE_MONITOR = "userfaultfd"
NCCL_DEBUG = "INFO"
HF_HOME = "/iopsstor/scratch/cscs/dmelikidze/huggingface/"
VLLM_CACHE_DIR = "/iopsstor/scratch/cscs/dmelikidze/vllm_cache"